In [1]:
pip install scikit-learn pandas

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.7.0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.8.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scalar=StandardScaler()
scaled=scalar.fit_transform()

minscalar=MinMaxScaler()
scaled_again=minscalar.fit_transform()

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

data={
    "study hours":[1,2,3,4,5],
    "grades":[10,20,30,40,50]
}

df=pd.DataFrame(data)
df

   study hours  grades
0            1      10
1            2      20
2            3      30
3            4      40
4            5      50

In [7]:
# standard scalar
standard_scalar=StandardScaler()
scaled_data=standard_scalar.fit_transform(df)
pd.DataFrame(scaled_data, columns=df.columns)

   study hours    grades
0    -1.414214 -1.414214
1    -0.707107 -0.707107
2     0.000000  0.000000
3     0.707107  0.707107
4     1.414214  1.414214

In [8]:
from sklearn.preprocessing import MinMaxScaler
min_max_scalar=MinMaxScaler()

scaled_data_minmax=min_max_scalar.fit_transform(df)
pd.DataFrame(scaled_data_minmax, columns=df.columns)

   study hours  grades
0         0.00    0.00
1         0.25    0.25
2         0.50    0.50
3         0.75    0.75
4         1.00    1.00

# TRAIN TEST SPLIT

In [11]:
X=df[["study hours"]] 
Y=df[["grades"]]

X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2, random_state=42)
print("Training data")
print(X_train)

print("Testing data")
print(X_test)

Training data
   study hours
4            5
2            3
0            1
3            4
Testing data
   study hours
1            2

In [12]:
print("Training labels")
print(Y_train)

print("Testing labels")
print(Y_test)

Training labels
   grades
4      50
2      30
0      10
3      40
Testing labels
   grades
1      20